body {
  background-color: #000000;
  max-width: 100%;
}

div.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "signup"
    "event"
    "about"
    "hero"
    "footer";

  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  background-color: #ffffff;
  grid-area: header;
  text-align: center;
  font-size: 25px;
  border: 10px solid #000000;
}

main {

}

section {
    min-height: 300px;
}

section#about {
  background-color: #ffffff;
  grid-area: about;
  padding: 12px;
  border: 10px solid #ffffff;
  font-size: 20px;
}

section#event {
  background-color: #ffffff;
  grid-area: event;
  padding: 12px;
  text-align: center;
  font-size: 17px;

}

section#signup {
  background-color: #D3D3D3;
  grid-area: signup;
  padding: 12px;
  font-size: 13px;
  color: #000000;

}

legend {
  color: #ffffff;
}

section#hero {
  grid-area: hero;
  background-color: #000000;
  display: none;
}

footer {
  background-color: #000000;
  grid-area: footer;
  color: #ffffff;
}

img {
max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

@media (min-width: 800px) {
  div.container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "hero hero"
      "about about"
      "event signup"
      "footer footer";
  }

  section#hero {
    display: block;
  }

  table {
    width: 100%;
    padding: 10px;
  }

  thead {
    display: none;
    padding: 10px;

  }

  tr {
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
  }

  td {
    padding: 10px;
  }

  td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
    padding: 10px;
  }
}
